#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
deploy.config
Examples*/
*.vsmdi
*.pidb
*.userprefs
*.testrunconfig
publish.xml
TestResults
I18N.2.0.0.nupkg
src/i18n.Web/I18N.Web.1.0.0.nupkg
src/packages/container.1.1.0/container.1.1.0.nupkg
src/packages/container.1.1.0/lib/net40/container.dll
src/packages/container.1.1.0/LICENSE.md
src/packages/container.1.1.0/README.md
src/packages/Microsoft.AspNet.WebApi.Client.4.0.30506.0/lib/net40/System.Net.Http.Formatting.xml
src/i18n.Web/packages/container.1.1.0/container.1.1.0.nupkg
src/i18n.Web/packages/container.1.1.0/container.1.1.0.nuspec
src/i18n.Web/packages/container.1.1.0/lib/net40/container.dll
src/i18n.Web/packages/container.1.1.0/LICENSE.md
src/i18n.Web/packages/container.1.1.0/README.md
src/i18n.Web/packages/I18N.2.0.0/I18N.2.0.0.nuspec
src/i18n.Web/packages/I18N.2.0.0/lib/net4.5/container.dll
src/i18n.Web/packages/I18N.2.0.0/lib/net4.5/i18n.dll
src/i18n.Web/packages/I18N.2.0.0/lib/net4.5/i18n.Domain.dll
src/i18n.Web/packages/I18N.2.0.0/lib/net4.5/i18n.PostBuild.exe
src/i18n.Web/packages/I18N.2.0.0/lib/net4.5/i18n.PostBuild.exe.config
src/i18n.Web/packages/I18N.2.0.0/lib/net4.5/i18n.PostBuild.vshost.exe
src/i18n.Web/packages/I18N.2.0.0/lib/net4.5/i18n.PostBuild.vshost.exe.config
src/i18n.Web/packages/I18N.2.0.0/lib/net4.5/i18n.PostBuild.vshost.exe.manifest
src/i18n.Web/packages/I18N.2.0.0/lib/net4.5/i18n.PostBuild.xml
src/i18n.Web/packages/I18N.2.0.0/lib/net4.5/i18n.xml
src/i18n.Web/packages/I18N.2.0.0/lib/net40/container.dll
src/i18n.Web/packages/I18N.2.0.0/lib/net40/i18n.dll
src/i18n.Web/packages/I18N.2.0.0/lib/net40/i18n.Domain.dll
src/i18n.Web/packages/I18N.2.0.0/lib/net40/i18n.XML
src/i18n.Web/packages/I18N.2.0.0/LICENSE.md
src/i18n.Web/packages/I18N.2.0.0/README.md
src/i18n.Web/packages/I18N.2.0.0/tools/gettext-0.14.4/envsubst.exe
src/i18n.Web/packages/I18N.2.0.0/tools/gettext-0.14.4/gettext.exe
src/i18n.Web/packages/I18N.2.0.0/tools/gettext-0.14.4/gettext.sh
src/i18n.Web/packages/I18N.2.0.0/tools/gettext-0.14.4/hostname.exe
src/i18n.Web/packages/I18N.2.0.0/tools/gettext-0.14.4/libexpat.dll
src/i18n.Web/packages/I18N.2.0.0/tools/gettext-0.14.4/libgettextlib.dll
src/i18n.Web/packages/I18N.2.0.0/tools/gettext-0.14.4/libgettextpo.dll
src/i18n.Web/packages/I18N.2.0.0/tools/gettext-0.14.4/libgettextsrc.dll
src/i18n.Web/packages/I18N.2.0.0/tools/gettext-0.14.4/libiconv2.dll
src/i18n.Web/packages/I18N.2.0.0/tools/gettext-0.14.4/libintl3.dll
src/i18n.Web/packages/I18N.2.0.0/tools/gettext-0.14.4/messages.po
src/i18n.Web/packages/I18N.2.0.0/tools/gettext-0.14.4/msgattrib.exe
src/i18n.Web/packages/I18N.2.0.0/tools/gettext-0.14.4/msgcat.exe
src/i18n.Web/packages/I18N.2.0.0/tools/gettext-0.14.4/msgcmp.exe
src/i18n.Web/packages/I18N.2.0.0/tools/gettext-0.14.4/msgcomm.exe
src/i18n.Web/packages/I18N.2.0.0/tools/gettext-0.14.4/msgconv.exe
src/i18n.Web/packages/I18N.2.0.0/tools/gettext-0.14.4/msgen.exe
src/i18n.Web/packages/I18N.2.0.0/tools/gettext-0.14.4/msgexec.exe
src/i18n.Web/packages/I18N.2.0.0/tools/gettext-0.14.4/msgfilter.exe
src/i18n.Web/packages/I18N.2.0.0/tools/gettext-0.14.4/msgfmt.exe
src/i18n.Web/packages/I18N.2.0.0/tools/gettext-0.14.4/msggrep.exe
src/i18n.Web/packages/I18N.2.0.0/tools/gettext-0.14.4/msginit.exe
src/i18n.Web/packages/I18N.2.0.0/tools/gettext-0.14.4/msgmerge.exe
src/i18n.Web/packages/I18N.2.0.0/tools/gettext-0.14.4/msgunfmt.exe
src/i18n.Web/packages/I18N.2.0.0/tools/gettext-0.14.4/msguniq.exe
src/i18n.Web/packages/I18N.2.0.0/tools/gettext-0.14.4/ngettext.exe
src/i18n.Web/packages/I18N.2.0.0/tools/gettext-0.14.4/urlget.exe
src/i18n.Web/packages/I18N.2.0.0/tools/gettext-0.14.4/xgettext.exe
src/i18n.Web/packages/Microsoft.AspNet.WebApi.4.0.20710.0/Microsoft.AspNet.WebApi.4.0.20710.0.nupkg
src/i18n.Web/packages/Microsoft.AspNet.WebApi.Client.4.0.30506.0/lib/net40/System.Net.Http.Formatting.dll
src/i18n.Web/packages/Microsoft.AspNet.WebApi.Client.4.0.30506.0/lib/net40/System.Net.Http.Formatting.xml
src/i18n.Web/packages/Microsoft.AspNet.WebApi.Client.4.0.30506.0/Microsoft.AspNet.WebApi.Client.4.0.30506.0.nupkg
src/i18n.Web/packages/Microsoft.AspNet.WebApi.Core.4.0.20710.0/content/web.config.transform
src/i18n.Web/packages/Microsoft.AspNet.WebApi.Core.4.0.20710.0/lib/net40/System.Web.Http.dll
src/i18n.Web/packages/Microsoft.AspNet.WebApi.Core.4.0.20710.0/lib/net40/System.Web.Http.xml
src/i18n.Web/packages/Microsoft.AspNet.WebApi.Core.4.0.20710.0/Microsoft.AspNet.WebApi.Core.4.0.20710.0.nupkg
src/i18n.Web/packages/Microsoft.AspNet.WebApi.WebHost.4.0.20710.0/lib/net40/System.Web.Http.WebHost.dll
src/i18n.Web/packages/Microsoft.AspNet.WebApi.WebHost.4.0.20710.0/lib/net40/System.Web.Http.WebHost.xml
src/i18n.Web/packages/Microsoft.AspNet.WebApi.WebHost.4.0.20710.0/Microsoft.AspNet.WebApi.WebHost.4.0.20710.0.nupkg
src/i18n.Web/packages/Microsoft.Net.Http.2.0.20710.0/lib/net40/System.Net.Http.dll
src/i18n.Web/packages/Microsoft.Net.Http.2.0.20710.0/lib/net40/System.Net.Http.WebRequest.dll
src/i18n.Web/packages/Microsoft.Net.Http.2.0.20710.0/lib/net40/System.Net.Http.WebRequest.xml
src/i18n.Web/packages/Microsoft.Net.Http.2.0.20710.0/lib/net40/System.Net.Http.xml
src/i18n.Web/packages/Microsoft.Net.Http.2.0.20710.0/lib/net45/_._
src/i18n.Web/packages/Microsoft.Net.Http.2.0.20710.0/Microsoft.Net.Http.2.0.20710.0.nupkg
src/i18n.Web/packages/Microsoft.Web.Infrastructure.1.0.0.0/lib/net40/Microsoft.Web.Infrastructure.dll
src/i18n.Web/packages/Microsoft.Web.Infrastructure.1.0.0.0/Microsoft.Web.Infrastructure.1.0.0.0.nupkg
src/i18n.Web/packages/Newtonsoft.Json.4.5.11/lib/net20/Newtonsoft.Json.dll
src/i18n.Web/packages/Newtonsoft.Json.4.5.11/lib/net20/Newtonsoft.Json.xml
src/i18n.Web/packages/Newtonsoft.Json.4.5.11/lib/net35/Newtonsoft.Json.dll
src/i18n.Web/packages/Newtonsoft.Json.4.5.11/lib/net35/Newtonsoft.Json.xml
src/i18n.Web/packages/Newtonsoft.Json.4.5.11/lib/net40/Newtonsoft.Json.dll
src/i18n.Web/packages/Newtonsoft.Json.4.5.11/lib/net40/Newtonsoft.Json.xml
src/i18n.Web/packages/Newtonsoft.Json.4.5.11/lib/portable-net40+sl4+wp7+win8/Newtonsoft.Json.dll
src/i18n.Web/packages/Newtonsoft.Json.4.5.11/lib/portable-net40+sl4+wp7+win8/Newtonsoft.Json.xml
src/i18n.Web/packages/Newtonsoft.Json.4.5.11/lib/sl3-wp/Newtonsoft.Json.dll
src/i18n.Web/packages/Newtonsoft.Json.4.5.11/lib/sl3-wp/Newtonsoft.Json.xml
src/i18n.Web/packages/Newtonsoft.Json.4.5.11/lib/sl4-windowsphone71/Newtonsoft.Json.dll
src/i18n.Web/packages/Newtonsoft.Json.4.5.11/lib/sl4-windowsphone71/Newtonsoft.Json.xml
src/i18n.Web/packages/Newtonsoft.Json.4.5.11/lib/sl4/Newtonsoft.Json.dll
src/i18n.Web/packages/Newtonsoft.Json.4.5.11/lib/sl4/Newtonsoft.Json.xml
src/i18n.Web/packages/Newtonsoft.Json.4.5.11/lib/winrt45/Newtonsoft.Json.dll
src/i18n.Web/packages/Newtonsoft.Json.4.5.11/lib/winrt45/Newtonsoft.Json.xml
src/i18n.Web/packages/Newtonsoft.Json.4.5.11/Newtonsoft.Json.4.5.11.nupkg
